django>=1.8,<1.9
django-debug-toolbar==1.5
gunicorn==19.4.5
psycopg2==2.6.1
whitenoise==3.0
spacy
requests
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0-alpha2/en_core_web_sm-2.0.0-alpha2.tar.gz

